	body {
		font-family: Arial;
		background-color: #313246;
		background-image: url(toast.png);
		background-size: cover;
		background-attachment: fixed;
		letter-spacing: 1px;
	}

	.tutorialhyperlink {
		color: white;
		text-decoration: none;
	}

	.tutorialbutton {
		background-color: #252637;
		font-size: 16px;
		color: white;
		border-radius: 4px;
		border: none;
		padding: 12px;
		transition: background-color 0.2s;
		right: 0;
		display: flex;
		margin-right: 30px;
		margin-left: 20;
	}

	.tutorialbutton:hover {
		background-color: #131320;
	}

	.tutorialbutton:active {
		opacity: 0.7;
	}
	.title {
		font-size: 70px;
		text-align: center;
		color: white;
	}

	.icon {
		width: 90px;
		object-fit: contain;
		left: 50px;
		margin-left: 20px;
	}

	.searchbar {
		height: 28px;
		margin-right: 40px;
	}

	.topbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #1c1c2b;
	}

	.rightside {
		display: flex;
		align-items: center;
		justify-content: end;
		border-left: 10px;
	}


	.startingtext {
		display: flex;
		color: white;
		justify-content: center;
		text-align: center;
	}

	.truestartingtext {
		margin-bottom: 0px;
		padding: 0px;
		letter-spacing: normal;
	}

	.sasterraz {
		margin:auto;
		object-fit: contain;
	}

	.box1 {
		margin-left: 5%;
		margin-top: 8%;
	}